# DATABASE_URL="mysql://username:password@host:port/database"
DATABASE_URL=""
PORT="8000"

# Google Integration Credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=""
GOOGLE_GA4_PROPERTY_ID=""
GOOGLE_ADS_API_VERSION="v25"
GOOGLE_ADS_DEVELOPER_TOKEN=""
GOOGLE_ADS_CUSTOMER_ID=""

# Google Business Profile Webhooks / GCP PubSub
GOOGLE_REVIEWS_WEBHOOK_SECRET=""
PUBSUB_TOPIC=""
PUBSUB_SUBSCRIPTION=""

# Notification alerts integrations (Email & SMS)
SENDGRID_API_KEY=""
EMAIL_FROM=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""

# General Configuration
FRONTEND_URL="http://localhost:3000"
INTEGRATION_ENCRYPTION_KEY=""
JWT_SECRET=""
WORDPRESS_FORM_WEBHOOK_SECRET=""
